body {
    text-align: center;
    background-color: #fff8e3;
}

#searchField {
    width: 50%;
    display: inline;
    text-align: center;
}

.page-one-master {
    
    background-image: url(../public/assets/wood.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

#jumbotronCustom {
    position: relative;
    padding-left: 5em;
    padding-right: 5em;
    width: 35%;
    height: auto;
    margin: auto;
    opacity: 70%;
}